<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/g/130/300');">
    </div>
    <div class="card-bottom">
      <div class="card-price"> <p></p>
      <%= apt_price %> €</p></div>
      <div class="card-title"><p><%= apt_title %></p></div>
      <div class="card-apt-type"><p><%= apt_type %></p></div>
      <div class="card-beds"><p><%= apt_beds %> beds</p></div>
      <div class="card-address"><p><%= apt_address %></p><p><%= apt_distance %> km</p></div>
    </div>
      <%= link_to "", apt_show, class: "apartment-link" %>
  </div>
</div>
